<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.TestMapper">

    <select id="selectList" resultType="com.example.demo.entity.TestEntity">
        select * from test t
        <where>
            <if test="keyword != null and keyword != ''">
                <bind name="keywordLike" value="'%'+keyword+'%'"/>
                and t.test_name like #{keywordLike}
            </if>
        </where>
    </select>
</mapper>
